%h1 All Codes

%table#codes
  %thead
    %tr
      %th Code Name
      %th Author
      %th Create Date
      %th More Info
  %tbody
    - @codes.each do |code|
      %tr
        %td= code.name
        %td= code.author
        %td= code.create_date
        %td= link_to "More about #{code.name}", code_path(code)

= link_to 'Add new movie', new_code_path
