%h1 Create New Code

= form_tag code_index_path, :method => :post do

  = label :code, :name, 'Name'
  = text_field :code, 'name'

  = label :code, :author, 'Author'
  = text_field :code, 'author'

  = label :code, :create_date, 'Created On'
  = date_select :code, :create_date

  = label :code, :code, 'Code'
  = text_field :code, 'code'



  = submit_tag 'Save Changes'
